.example-card {
  width: 70%;
  margin:0px auto;
}
.example-form {
  width: 500px;
}
.example-full-width {
  width: 100%;
}
/*.mat-progress-spinner{
  margin-left: 37%;
  position: fixed;
  margin-top: 7%;
}*/
