/*.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}*/

.example-radio-button {
  margin: 5px;
}
.mat-dialog-container{
  width:1000px !important;
  background: red;
}
.example-card {
}
.example-form {
  /*width: 00px;*/
}
.example-full-width {
  width: 100%;
  margin:10px;
  /*margin:50%;*/
}

/*.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}*/

.example-radio-button {
  margin: 5px;
}
.email-check{
  float:right;

}

.example-selected-value {
  margin: 15px 0;
}
.image{
  background-color: #EBEBEB;
  /*border-color: black;*/
  border-style: solid;
border-width: 1px;
width: 80%
/*height: 123px;*/

}
#changePhoto{
  display:none;
}
.image:hover #changePhoto{
  background: #303030;
  display: block;
  color:white;
}
