<h1 md-dialog-title *ngIf="check">Edit</h1>
<h1 md-dialog-title *ngIf="!check">Preview</h1>
<div md-dialog-content>

  <md-card class="example-card" >
    <md-card-header>
      <md-card-title *ngIf="check"><h1>Edit Employee Details</h1>
      </md-card-title>
      <md-card-title *ngIf="!check"><h1>Preview Employee Details</h1>
      </md-card-title>
      <md-card-subtitle *ngIf="check"><h3>Update details</h3>
      </md-card-subtitle>
      <md-card-subtitle *ngIf="!check"><h3>preview  details</h3>
      </md-card-subtitle>
    </md-card-header>
    <!-- <div *ngIf="loadSpiner"><h1>loading...........</h1></div> -->
      <div id="loader" *ngIf="loadSpiner"><md-spinner></md-spinner></div>
    <md-card-content *ngIf="check && !loadSpiner">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <table class="example-full-width" cellspacing="0"><tr>
            <div class="image">
              <img *ngIf="1" [src]="this.model.profile_pic" height="100px" width="130px"/>
              <div id="changePhoto"> Update photo
                  <input type="file" #file (change)="changeListener($event)" accept="image/*" ngf-max-size="2MB" style="display:none" required>
                  <md-icon #upload (click)="file.click()">add_a_photo</md-icon>
             </div>
            </div>
            <md-error *ngIf="errorMsg">
              *{{errorMsg}}
            </md-error>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="first_name" name="first_name" [(ngModel)]="model.first_name" formControlName="first_name">
              <md-error *ngIf="!form.get('first_name').valid">
                first  Name <strong>required</strong>
              </md-error>
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="last_name" name="last_name" [(ngModel)]="model.last_name" formControlName="last_name">
              <md-error *ngIf="!form.get('last_name').valid">
                Last  Name <strong>required</strong>
              </md-error>
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <span mdPrefix>+91 &nbsp;</span>
              <input mdInput placeholder="mob_no" name="mob_no" type="tel" minlength="10" maxlength="10" [(ngModel)]="model.mob_no" formControlName="mob_no">
              <md-icon mdSuffix>mode_edit</md-icon>
              <md-error *ngIf="!form.get('mob_no').valid">
                Mobile Number  Name <strong>required</strong>
              </md-error>
            </md-input-container></td>
        </tr></table>
        <!-- emergency conctact person current field -->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="emergency_cont_person" name="emergency_cont_person" [(ngModel)]="model.emergency_cont_person" formControlName="emergency_cont_person">
            <md-error *ngIf="!form.get('emergency_cont_person').valid">
              emergency_cont_person Name<strong>required</strong>
            </md-error>
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <span mdPrefix>+91 &nbsp;</span>
            <input mdInput placeholder="emergency_cont_no" type="tel" minlength="10" maxlength="10" name="emergency_cont_no" [(ngModel)]="model.emergency_cont_no" formControlName="emergency_cont_no">
            <md-error *ngIf="!form.get('emergency_cont_no').valid">
              Emergency contact number  <strong>required</strong>
            </md-error>
            <md-icon mdSuffix>mode_edit</md-icon>
          </md-input-container></td>
        </tr></table>
        <!-- address current field -->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="cur_address" name="cur_address" [(ngModel)]="model.cur_address" formControlName="cur_address">
            <md-error *ngIf="!form.get('cur_address').valid">
              current address <strong>required</strong>
            </md-error>
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="cur_city" name="cur_city" [(ngModel)]="model.cur_city" formControlName="cur_city">
            <md-error *ngIf="!form.get('cur_city').valid">
              current city <strong>required</strong>
            </md-error>
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="cur_country" name="cur_country" [(ngModel)]="model.cur_country" formControlName="cur_country">
            <md-error *ngIf="!form.get('cur_country').valid">
              per_country <strong>required</strong>
            </md-error>
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="cur_pinCode" name="cur_pincode" [(ngModel)]="model.cur_pincode" formControlName="cur_pincode">
            <md-error *ngIf="!form.get('cur_pincode').valid">
              current pinCode <strong>required</strong>
            </md-error>
          </md-input-container></td>

        </tr></table>
        <!-- addres permanent field -->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="per_address" name="per_address" [(ngModel)]="model.per_address" formControlName="per_address">
            <md-error *ngIf="!form.get('per_address').valid">
              per_address <strong>required</strong>
            </md-error>
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="per_city" name="per_city" [(ngModel)]="model.per_city" formControlName="per_city">
            <md-error *ngIf="!form.get('per_city').valid">
              per_city <strong>required</strong>
            </md-error>
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="per_country" name="per_country" [(ngModel)]="model.per_country" formControlName="per_country">
            <md-error *ngIf="!form.get('per_country').valid">
              per_country <strong>required</strong>
            </md-error>
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="per_pinCode" name="per_pincode" [(ngModel)]="model.per_pincode" formControlName="per_pincode">
            <md-error *ngIf="!form.get('per_pincode').valid">
              per_pinCode <strong>required</strong>
            </md-error>
          </md-input-container></td>
        </tr></table>
        <!-- device detils field -->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="laptop no" name="laptop_no" [(ngModel)]="model.laptop_no" formControlName="laptop_no">
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="mouse no" name="mouse_no" [(ngModel)]="model.mouse_no" formControlName="mouse_no">
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="keyboard no" name="keyboard_no" [(ngModel)]="model.keyboard_no" formControlName="keyboard_no">
          </md-input-container></td>
        </tr></table>
        <!-- previous company field -->
        <table class="example-full-width" cellspacing="0"><tr>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="Company Name" name="company_name" [(ngModel)]="model.company_name" formControlName="company_name">
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder=" Leaving Date" name="leaving_date" type="date" [(ngModel)]="model.leaving_date" formControlName="leaving_date" >
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
            <input mdInput placeholder="C.T.C" name="CTC" [(ngModel)]="model.ctc" formControlName="ctc">
          </md-input-container></td>
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
          <td><md-input-container class="example-full-width">
              <span mdPrefix>+91 &nbsp;</span>
              <input type="tel" mdInput placeholder="HR Number" name="HR_no" minlength="10" maxlength="10"[(ngModel)]="model.HR_no" formControlName="HR_no" >
              <md-icon mdSuffix>mode_edit</md-icon>
          </md-input-container></td>
          <td><md-input-container class="example-full-width">
                <span mdPrefix>+91 &nbsp;</span>
                <input type="tel" mdInput placeholder="TL Number" #TL_no name="TL_no" minlength="3" maxlength="10" [(ngModel)]="model.TL_no" formControlName="TL_no">
                <md-icon mdSuffix>mode_edit</md-icon>
          </md-input-container></td>
        </tr></table>
        <table class="example-full-width" cellspacing="0"><tr>
            <div class="md-radio-group">
              <label for="user_role">Employee Role</label>
              <md-radio-group class="example-radio-group" name="emp_role" [(ngModel)]="model.emp_role" formControlName="emp_role">
                  <md-radio-button class="example-radio-button" *ngFor="let season of Role" [value]="season">
                  {{season}}
                  </md-radio-button>
              </md-radio-group>
              <div class="example-selected-value">Employee Role is: {{model.emp_role}}</div>
            </div>
          <div class="md-radio-group">
            <label for="Status">Employee Status</label>
            <md-radio-group class="example-radio-group" name="status" [(ngModel)]="model.status" formControlName="status">
                <md-radio-button class="example-radio-button" *ngFor="let status of status" [value]="status">
                {{status}}
                </md-radio-button>
            </md-radio-group>
            <div class="example-selected-value">Employee Status is : {{model.status}}</div>
          </div>
        </tr></table>
        <h2>  Document List</h2>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <thead>
              <tr>
              <th><h3>Document Name</h3></th>
              <th><h3>Document</h3></th>
              <th> Action</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </tr>
            </table>
        <button md-raised-button color="primary" type="submit" > Update </button>
      </form>
      </md-card-content>
    <md-card-content *ngIf="!check &&  !loadSpiner">
          <form class="form" #test id="preview">
          <table class="example-full-width" cellspacing="0"><tr>
              <div class="image">
                <img *ngIf="1" [src]="this.model.profile_pic" height="100px" width="130px"/>
                <!-- <div id="changePhoto"> Update photo
                    <input type="file" #file (change)="changeListener($event)" accept="image/*" ngf-max-size="2MB" style="display:none" required>
                    <md-icon #upload (click)="file.click()">add_a_photo</md-icon>
               </div> -->
              </div>
              <td><md-input-container class="example-full-width">
                <input mdInput placeholder="first_name" name="first_name" disabled  [(ngModel)]="model.first_name">
              </md-input-container></td>
              <td><md-input-container class="example-full-width">
                <input mdInput placeholder="last_name" name="last_name" disabled [(ngModel)]="model.last_name" >
              </md-input-container></td>
              <td><md-input-container class="example-full-width">
                <span mdPrefix>+91 &nbsp;</span>
                <input mdInput placeholder="mob_no" name="mob_no" type="tel" minlength="10" maxlength="10" disabled [(ngModel)]="model.mob_no">
                <md-icon mdSuffix>mode_edit</md-icon>
              </md-input-container></td>
          </tr></table>
          <!-- emergency conctact person current field -->
          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="emergency_cont_person" name="emergency_cont_person" disabled [(ngModel)]="model.emergency_cont_person">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <span mdPrefix>+91 &nbsp;</span>
              <input mdInput placeholder="emergency_cont_no" type="tel" minlength="10" maxlength="10" name="emergency_cont_no" disabled [(ngModel)]="model.emergency_cont_no">
              <md-icon mdSuffix>mode_edit</md-icon>
            </md-input-container></td>
          </tr></table>
          <!-- address current field -->
          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="cur_address" name="cur_address" disabled [(ngModel)]="model.cur_address">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="cur_city" name="cur_city" disabled [(ngModel)]="model.cur_city">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="cur_country" name="cur_country" disabled [(ngModel)]="model.cur_country">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="cur_pinCode" name="cur_pincode" disabled [(ngModel)]="model.cur_pincode">
            </md-input-container></td>

          </tr></table>
          <!-- addres permanent field -->
          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="per_address" name="per_address" disabled [(ngModel)]="model.per_address">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="per_city" name="per_city" disabled [(ngModel)]="model.per_city">
              <md-error *ngIf="!form.get('per_city').valid">
                per_city <strong>required</strong>
              </md-error>
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="per_country" name="per_country" disabled [(ngModel)]="model.per_country">
              <md-error *ngIf="!form.get('per_country').valid">
                per_country <strong>required</strong>
              </md-error>
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="per_pinCode" name="per_pincode" disabled [(ngModel)]="model.per_pincode">
            </md-input-container></td>
          </tr></table>
          <!-- device detils field -->
          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="laptop no" name="laptop_no" disabled [(ngModel)]="model.laptop_no">
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="mouse no" name="mouse_no" disabled [(ngModel)]="model.mouse_no" >
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="keyboard no" name="keyboard_no" disabled  [(ngModel)]="model.keyboard_no">
            </md-input-container></td>
          </tr></table>
          <!-- previous company field -->
          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="Company Name" name="company_name" disabled [(ngModel)]="model.company_name" >
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder=" Leaving Date" name="leaving_date" type="date" disabled [(ngModel)]="model.leaving_date" >
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
              <input mdInput placeholder="C.T.C" name="CTC" disabled [(ngModel)]="model.ctc">
            </md-input-container></td>
          </tr></table>
          <table class="example-full-width" cellspacing="0"><tr>
            <td><md-input-container class="example-full-width">
                <span mdPrefix>+91 &nbsp;</span>
                <input type="tel" mdInput placeholder="HR Number" name="HR_no" minlength="10" maxlength="10" disabled [(ngModel)]="model.HR_no" >
                <md-icon mdSuffix>mode_edit</md-icon>
            </md-input-container></td>
            <td><md-input-container class="example-full-width">
                  <span mdPrefix>+91 &nbsp;</span>
                  <input type="tel" mdInput placeholder="TL Number" #TL_no name="TL_no" minlength="3" maxlength="10" disabled [(ngModel)]="model.TL_no">
                  <md-icon mdSuffix>mode_edit</md-icon>
            </md-input-container></td>
          </tr></table>
          <table class="example-full-width" cellspacing="0"><tr>
              <div class="md-radio-group">
                <div class="example-selected-value">Employee Role is: {{model.emp_role}}</div>
              </div>
            <div class="md-radio-group">
              <div class="example-selected-value">Employee Status is : {{model.status}}</div>
            </div>
          </tr></table>
          <button md-raised-button color="primary" (click)="downloadprview()" > Download </button>
        </form>

        </md-card-content>
    <md-card-actions>
    </md-card-actions>
  </md-card>
</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="Cancel">Cancel</button>
  <!-- <button md-button md-dialog-close="Option 2">save</button> -->
</div>
