.primary{
  background-color: #673AB7;
  margin-top: -40px;
}
.primary span{
  /*color : white;*/
}
.header-content{
  display:inline;
  margin-left: 50%;
  /*float:left;*/
}
.example-header-image {
  background-image: url('http://via.placeholder.com/350x150');
  background-size: cover;
}
.mat-card-avatar{
  width:50px;
  height:50px;
  border-radius: 50%;
  /*margin-left:14px;*/
}
.userRole{
  margin-left:5%;
}
/*#cdk-overlay-1{
  background-color: red;
}*/
.mat-menu-content ng-trigger ng-trigger-fadeInItems{
    background-color: red;
}
