<md-toolbar class="primary">
    <img src="assets/images/image(4).jpg" height="60%" width="13%" id="comapnyLogoimg">
    <span id="userRole"> {{user.role | uppercase}}</span>
      <div class="flex-spacer"></div>
        <md-input-container>
            <md-icon>search</md-icon>
            <input mdInput placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;search here" type="search" floatPlaceholder="auto">
        </md-input-container>
        <button md-icon-button [mdMenuTriggerFor]="notifications" id="notification">
            <md-icon>notifications</md-icon>
              <span class="mat-select-arraow"></span>
        </button>
        <md-menu #notifications="mdMenu">
            <button md-menu-item>
              <span>1 notification</span>
            </button>
            <button md-menu-item>
              <span>2 notification</span>
            </button>
        </md-menu>
        <button md-icon-button [mdMenuTriggerFor]="Account" id="Account">
            <img md-card-avatar src="assets/images/rj.jpg">
        </button>
        <md-menu #Account="mdMenu">
          <button md-menu-item>
            <md-icon>perm_identity</md-icon>
            <span>Account</span>

          </button>
          <button md-menu-item (click)="logout()">
            <md-icon>settings_power</md-icon>
            <span>log out</span>
          </button>
        </md-menu>

</md-toolbar>
