.primary{
  background-color: #673AB7;
  position: fixed !important;
  z-index: 10;
}
.example-header-image {
  background-image: url('http://via.placeholder.com/350x150');
  background-size: cover;
}
.mat-card-avatar{
  /*padding: 0 16px;*/
  width:50px;
  height:50px;
  border-radius: 50%;
}
#userRole{
  margin-left: 3%;
}
#comapnyLogoimg{
  border-radius: 50%;
}
/deep/.mat-menu-panel{
  margin-top: 45px !important;
}
/*/deep/.primary mat-toolbar{
  position: fixed !important;
  z-index: 10;
}*/
.flex-spacer{
  flex-grow: 1;
}
.mat-menu-content ng-trigger ng-trigger-fadeInItems{
    background-color: red;
}
