
.example-card {
  width: 30%;
  margin:0px auto;
  margin-top:10%;
}
.example-full-width {
  width: 100%;
  margin-top:10px;
}
.mat-form-field{
  width:100%;
  /*padding-top:20px;*/
}
.mat-card-header{
  background: #3F51B5;
  color:white;
}
a{
  float: right;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#facebookLogo {
  cursor: pointer;
  /*text-align: center;*/
  /*margin-left:50px;*/
}
#sapnlogin{
  text-align: center;
  margin-left:34%;
}
