working
<md-card class="example-card">
  <md-card-header>
    <!-- <div md-card-avatar class="example-header-image"></div> -->
    <md-card-title><h1>ADD Empolyee</h1></md-card-title>
    <md-card-subtitle><h3>add basic details</h3></md-card-subtitle>
  </md-card-header>
  <img md-card-image src="assets/img/examples/shiba2.jpg">
  <md-card-content>
    <form class="formgroup" name="myform">

      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder="First name" name="first_name" [(ngModel)]="model.first_name" [formControl]="fnameFormControl">
          <md-error *ngIf="fnameFormControl.hasError('required') ">
        first  Name <strong>required</strong>
        </md-error>
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
          <input mdInput placeholder=" Last Name" name="last_name" [(ngModel)]="model.last_name" [formControl]="lnameFormControl">
          <md-error *ngIf="lnameFormControl.hasError('required') ">
        last  Name <strong>required</strong>
        </md-error>
        </md-input-container></td>
      </tr></table>
      <table class="example-full-width" cellspacing="0"><tr>
      <!-- <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Join-Date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
      </md-input-container>
      <md-datepicker #picker></md-datepicker> -->
    <td>  <md-input-container class="example-full-width">
        <input mdInput placeholder=" Join Date" name="join_date" type="date" [(ngModel)]="model.join_date" >
      </md-input-container></td>
    <td>  <md-input-container class="example-full-width">
        <input mdInput placeholder=" service end" name="service_cont_end" type="date" [(ngModel)]="model.service_cont_end" >
      </md-input-container></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
      <span mdPrefix>+91 &nbsp;</span>
      <input type="tel" mdInput placeholder="Contact Number" maxlength="10" name="mob_no" [(ngModel)]="model.mob_no"[formControl]="mob_noFormControl" >
      <md-icon mdSuffix>mode_edit</md-icon>
      <md-error *ngIf="mob_noFormControl.hasError('required') ">
      contact number is <strong>required</strong>
    </md-error>
    <md-error *ngIf="mob_noFormControl.hasError('pattern') ">
    contact number should  <strong>well form(10 digits require)</strong>
  </md-error>
    </md-input-container></td>

    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
        <input mdInput placeholder="Emg Contact Person" name="emergency_cont_person" [(ngModel)]="model.emergency_cont_person" [formControl]="usernameFormControl">
        <md-error *ngIf="conpernameFormControl.hasError('required') ">
        Name of contact person <strong>required</strong>
      </md-error>
      </md-input-container></td>
      <td><md-input-container class="example-full-width">
      <span mdPrefix>+91 &nbsp;</span>
      <input type="tel" mdInput placeholder="Contact Number" name="emergency_cont_no" [(ngModel)]="model.emergency_cont_no"[formControl]="conpermobFormControl" >
      <md-icon mdSuffix>mode_edit</md-icon>
      <md-error *ngIf="conpernameFormControl.hasError('required') ">
      contact number of contact person <strong>required</strong>
    </md-error>
    </md-input-container></td>

    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
        <input mdInput placeholder="User Name" name="username" [(ngModel)]="model.username" [formControl]="usernameFormControl" >
        <md-error *ngIf="usernameFormControl.hasError('required') ">
        Name <strong>required</strong>
      </md-error>
      </md-input-container></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
        <input mdInput placeholder="User Email" name="email" type="email" [(ngModel)]="model.email" [formControl]="emailFormControl">
        <md-error *ngIf="emailFormControl.hasError('pattern')">
         <strong> email should be mail type <h4>ex. abc@axovel.com </h4></strong>
        <!-- <p *ngIf="passwordFormControl.hasError(minLength)">Password must be 8 characters long, we need another {{passwordFormControl.minlength.requiredLength - passwordFormControl.minlength.actualLength}} characters </p> -->
      </md-error>
        <md-error *ngIf="passwordFormControl.hasError('required')">
        password is <strong>required</strong>
        <!-- <p *ngIf="passwordFormControl.hasError(minLength)">Password must be 8 characters long, we need another {{passwordFormControl.minlength.requiredLength - passwordFormControl.minlength.actualLength}} characters </p> -->
      </md-error>
      </md-input-container></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
        <input mdInput placeholder="User Password" name="password" type="password" #password maxlength="6" [(ngModel)]="model.password" [formControl]="passwordFormControl">
        <md-error *ngIf="passwordFormControl.hasError('minlength')">
         <strong>password must be 6 digits long <p> we need another {{6-password.value.length}} characters </p></strong>
        <!-- <p *ngIf="passwordFormControl.hasError(minLength)">Password must be 8 characters long, we need another {{passwordFormControl.minlength.requiredLength - passwordFormControl.minlength.actualLength}} characters </p> -->
      </md-error>
        <md-error *ngIf="passwordFormControl.hasError('required')">
        password is <strong>required</strong>
        <!-- <p *ngIf="passwordFormControl.hasError(minLength)">Password must be 8 characters long, we need another {{passwordFormControl.minlength.requiredLength - passwordFormControl.minlength.actualLength}} characters </p> -->
      </md-error>
      </md-input-container></td>
    </tr></table>
    </form>
  </md-card-content>

  <md-card-actions>
    <button md-raised-button color="primary"(click)="gotonextStep()">Next</button>
    <!-- <button md-button>SHARE</button> -->
  </md-card-actions>
</md-card>
