.example-card {
  width: 90%;
  /*text-align: center;*/
  /*float: center;*/
  margin:0px auto;
  /*height:100px;*/
}
/*.example-form {
  width: 500px;
}*/

.example-full-width {
  width: 100%;
  margin-top:10px;
}

.example-radio-button {
  margin: 5px;
}
.email-check{
  /*float:right;*/

}
.password-check{
  /*float:right;*/

}
#confirm{
  color:green! important;

}
.example-selected-value {
  margin: 15px 0;
}
#errorConfirm{
  color:red;
}
