<md-card class="example-card">
  <md-card-header>
    <md-card-title><h1>ADD Empolyee</h1></md-card-title>
    <md-card-subtitle><h3>Add basic details</h3></md-card-subtitle>
  </md-card-header>
  <md-card-content>
  <form class="formgroup" name="myform" (ngSubmit)="onSubmit()" [formGroup]="form">
      <!-- first name  and last name field -->
      <table class="example-full-width" cellspacing="0"><tr>
          <td><md-input-container class="example-full-width">
              <input mdInput placeholder="First name" name="first_name"   [(ngModel)]="model.first_name" formControlName="fnameFormControl" required>
              <md-error *ngIf="!form.get('fnameFormControl').valid && form.get('fnameFormControl').touched">
                  first  Name <strong>required</strong>"
              </md-error>
              <md-error *ngIf="!form.get('fnameFormControl').valid">
                  name doesnot contain digit
              </md-error>
            </md-input-container>
          </td>
        <td><md-input-container class="example-full-width">
            <input mdInput placeholder=" Last Name" name="last_name" [(ngModel)]="model.last_name" formControlName="lnameFormControl" >
            <md-error *ngIf="!form.get('lnameFormControl').valid">
                name doesnot contain digit
            </md-error>
            </md-input-container>
        </td>
      </tr></table>
      <!-- join date and service field  -->
      <table class="example-full-width" cellspacing="0"><tr>
              <td>  <md-input-container>
              <input mdInput [mdDatepicker]="pickerJoinDate"
               placeholder="Join-Date" name="join_date"
               formControlName="joinDate"
                (dateInput)="onInput( pickerJoinDate)">
              <md-datepicker-toggle mdSuffix [for]="pickerJoinDate"></md-datepicker-toggle>
              <md-datepicker #pickerJoinDate></md-datepicker>
            </md-input-container>
            <md-error *ngIf=" !dateerror">
              Joinning date is required
          </md-error>
          <!-- <md-error *ngIf="!form.get('joinDate').valid ">
            Joinning date is requiredds
        </md-error> -->
          </td>
            <td>  <md-input-container>
            <input mdInput [mdDatepicker]="pickerServiceContEnd"
            [min]="minDate" placeholder="service_cont_end"
            name="service_cont_end" formControlName="serviceEnd"
            >
            <md-datepicker-toggle mdSuffix [for]="pickerServiceContEnd"></md-datepicker-toggle>
            <md-datepicker #pickerServiceContEnd></md-datepicker>

          </md-input-container>
          <md-error *ngIf="!dateerror">
          Please  insert joinning date then service contact end date
        </md-error>
        </td>
          <td><md-input-container class="example-full-width">
              <span mdPrefix>+91 &nbsp;</span>
              <input type="tel" mdInput placeholder="Contact Number" maxlength="10" name="mob_no" [(ngModel)]="model.mob_no" formControlName="mob_noFormControl" >
              <md-icon mdSuffix>mode_edit</md-icon>
              <md-error *ngIf="!form.get('mob_noFormControl').valid">
                  name doesnot contain digit
              </md-error>
              <!-- <md-error *ngIf="mob_noFormControl.hasError('required') ">
                contact number is <strong>required</strong>
              </md-error> -->
          <!-- <md-error *ngIf="mob_noFormControl.hasError('pattern') ">
              contact number should  <strong>well form(10 digits require)</strong>
          </md-error> -->
            </md-input-container>
        </td>
      </tr></table>
      <table class="example-full-width" cellspacing="0"><tr>
        <!-- contact person field -->
        <!-- <table class="example-full-width" cellspacing="0"><tr> -->
        <td><md-input-container class="example-full-width">
            <input mdInput placeholder="Emergency Contact Person" name="emergency_cont_person" [(ngModel)]="model.emergency_cont_person" formControlName="conpernameFormControl">
            <md-error *ngIf="!form.get('conpernameFormControl').valid">
                Name of contact person <strong>required</strong>
            </md-error>
        </md-input-container></td>
        <td><md-input-container class="example-full-width">
            <span mdPrefix>+91 &nbsp;</span>
            <input type="tel" mdInput placeholder=" Emergency Contact Number" maxlength="10" name="emergency_cont_no" [(ngModel)]="model.emergency_cont_no" formControlName="conpermobFormControl" >
            <md-icon mdSuffix>mode_edit</md-icon>
            <md-error *ngIf="!form.get('conpermobFormControl').valid">
              contact number of contact person <strong>required</strong>
            </md-error>
        </md-input-container></td>
      </tr></table>

    <!-- user name and email field  -->

      <table class="example-full-width" cellspacing="0"><tr>
        <td><md-input-container class="example-full-width">
            <input mdInput placeholder="User Name" name="username" [(ngModel)]="model.username" formControlName="usernameFormControl" (blur)="onBlurMethodUser(model.username)" >
            <md-error *ngIf="!form.get('usernameFormControl').valid">
            Name <strong>required</strong>
            </md-error>
        <label class="email-check" *ngIf="checkUserErrorMsg">
            <md-error >
              {{checkUserErrorMsg}}
            </md-error>
        </label>
        </md-input-container></td>

        <td><md-input-container class="example-full-width">
            <input mdInput placeholder="User Email" name="email" type="email" [(ngModel)]="model.email" formControlName="emailFormControl" (blur)="onBlurMethodEmail(model.email)">
              <md-error *ngIf="!form.get('emailFormControl').valid">
              <strong> email should be mail type <h4>ex. abc@axovel.com </h4></strong>
              </md-error>
              <label class="email-check" *ngIf="checkEmailErrorMsg">
                <md-error >
                {{checkEmailErrorMsg}}
              </md-error>
              </label>
          </md-input-container></td>
        </tr></table>

    <!-- password field  -->

    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-input-container class="example-full-width">
        <input mdInput placeholder="User Password" name="password" type="password" #password maxlength="15" minlength="4" [(ngModel)]="model.password" formControlName="passwordFormControl">
        <md-error *ngIf="!form.get('passwordFormControl').valid">
         <strong>password must be 6 digits long <p> we need another {{6-password.value.length}} characters </p></strong>
       </md-error>
      </md-input-container></td>
      <td><md-input-container class="example-full-width" *ngIf="model.password">
        <input mdInput placeholder="confirm Password" id="confirmPassword" name="ConfirmPassword" (keyup)="passwordInput(model.ConfirmPassword)" (blur)="onblurPassword(model.ConfirmPassword)" type="password" #ConfirmPassword maxlength="15" minlength="4" [(ngModel)]="model.ConfirmPassword" formControlName="ConfirmPasswordFormControl">
          <label class="password-check" id="confirm" *ngIf="confirmPassword=='1'">
                 password match
          </label>
          <label class="password-check" *ngIf="confirmPassword=='0'">
              <md-error >
                 password does not match
              </md-error>
          </label>
          <md-error *ngIf="!form.get('ConfirmPasswordFormControl').valid">
          password confirmation is <strong>required</strong>
        </md-error>
      </md-input-container></td>
    </tr></table>
    <div class="md-radio-group">
      <label for="user_role">Employee Role</label>
      <md-radio-group class="example-radio-group" name="emp_role" [(ngModel)]="model.emp_role" formControlName="emp_role">
          <md-radio-button class="example-radio-button" *ngFor="let season of Role" [value]="season">
          {{season}}
          </md-radio-button>
      </md-radio-group>
      <div class="example-selected-value">Employee Role is: {{model.emp_role}}</div>
    </div>
    <div class="md-radio-group">
      <label for="Status">Employee Status</label>
      <md-radio-group class="example-radio-group" name="status" [(ngModel)]="model.status" formControlName="status">
          <md-radio-button class="example-radio-button" *ngFor="let status of status" [value]="status">
          {{status}}
          </md-radio-button>
      </md-radio-group>
      <div class="example-selected-value">Employee Status is : {{model.status}}</div>
    </div>

    <!-- <md-checkbox class="example-margin" (click)="checkbox()" >save above details </md-checkbox> -->
    <button md-raised-button color="primary" type="submit" [disabled]="!this.confirmPassword && !form.valid " >Save and Countinue </button>
    </form>
  </md-card-content>
  <md-card-actions>
    <!-- <button md-raised-button color="primary" (click)="gotonextStep()">Back</button> -->

    <!-- <button md-button>SHARE</button> -->
  </md-card-actions>
</md-card>
