dashboard work
<!-- <a href="#menu3" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-sm-down">Item 3 </span></a>
<div class="collapse" id="menu3">
    <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>
    <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>
    <div class="collapse" id="menu3sub2">
        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>
        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>
        <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>
    </div>
    <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>
</div> -->
<!-- <div class="row">
    <div class="col-md-6">
        <mdb-ng-select [options]="colorSelect" placeholder="Choose your option" class="colorful-select dropdown-primary"></mdb-ng-select>
        <label>Blue select</label>
    </div>
</div> -->

        <!-- <md-icon>    <img src="http://via.placeholder.com/350x150" class="md-avatar"></md-icon> -->
        <!-- <md-card class="example-card">
         <md-card-header>
           <div md-card-avatar class="example-header-image"></div>
         </md-card-header>

       </md-card> -->
