.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.example-sidenav-fab-container {
  width:100%;
  height: 100%;
  /*min-height: 567px;*/
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-fab-container md-sidenav {
  /*max-width: 200px;*/
  width:15%;
  /*position: fixed;*/
  background-color: #E91E63;
}
.nav .items{
  margin-left: 10%;
  margin-top:40px;

}
.mini-nav .items{
  margin-top:10px;
}
.nav .items a{
    width: 85%;
    /*height: 56px;*/
    padding: 9px;
    background-color: #303030
  }
  .mini-nav .items a{
      padding: 9px;
      background-color: #E91E63;
      color:#303030;
    }
    .mini-items{
      background-color:#E91E63
    }
  .toggle{
    /*background-color: black;*/
  }
  .sidebarheader{
    width:100%;
    height:100px;
  }
  .example-fab {
    background-color: #E91E63;
    top:15px;
  }
.dashboard-content{
  /*width:30%;*/
  background-color: #303030;
  /*width:auto;*/
  /*height:800px;*/

}
.mini-side-bar{
  /*width:25%;*/
  background-color: #E91E63
}
md-sidenav.md-sidenav-closed {
  visibility: visible;
  transform: translate3d(-1000%, 0, 0);
}

md-sidenav.md-sidenav-closing {
  transform: translate3d(-80%, 0, 0);
}
