
.example-sidenav-fab-container md-sidenav {
  /*width: 15%;*/
  /*position: fixed;*/
  width:134px;
  background-color: #673AB7
}
.items{
  padding-top: 8px;
  padding-bottom: 8px;
  color:white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
/*.items :hover{
  background: red;
}*/
.mini-nav .itemsMini{
  margin-top:10px;
}
.itemsdash{
  padding-top: 67px;
}
.nav .itemsdash a{
  width: 100%;
  padding: 9px;
  background-color: #673AB7
  }
  /*.nav .itemsdash a :hover{
    background: red;
  }*/
.mini-nav .itemsMini a{
  background-color: #673AB7
  }
.mini-itemsMini{
  background-color:#673AB7
}

.example-fab {
  background-color:#673AB7;
  top:70%;
  left:12px;
  position: absolute;
}
.dashboard-content{
  /*background-color: #303030;*/
  color: black;
  min-height: 700px;
  /*min-width: 600px;*/
  padding-top: 67px;
}
.mini-side-bar{
  background-color: #E91E63
}

#contentSideNav{
  visibility: visible !important;
}
.items button{
  margin-left: 12%;
}
/deep/.mini-nav {
  margin-top: 67px !important;
}
/deep/.mat-drawer-content{
       transition-duration: 0s !important;
}
