.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.example-sidenav-fab-container {
  width:100%;
  height: 100%;
  /*min-height: 567px;*/
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-fab-container md-sidenav {
  /*max-width: 200px;*/
  width:15%;
  /*position: fixed;*/
  background-color: #9C27B0;
}
.nav .items{
  /*height:30px;*/
  /*width:40px;
  height:40px;*/
  margin-left: 10%;
  margin-top:40px;
  /*padding:30px;*/
  /*text-align: center;*/

}
/*.mat-menu-content ng-trigger ng-trigger-fadeInItems{
  margin-top: 13%;
}*/
.nav .items a{


    width: 85%;
    /*height: 56px;*/
    padding: 9px;
    background-color: #303030
  }
  .toggle{
    /*background-color: black;*/
  }
  .sidebarheader{
    width:100%;
    height:100px;
  }
  .dashboard-content{
    height: 100px;
  }
  .example-fab {
    background-color: #9C27B0;
    top:15px;
  }
.dashboard-content{
  background-color: #303030;
  /*width:auto;*/
  height:800px;

}
/*.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
}

.example-fab {
  position: absolute;
  right: 20px;
  bottom: 10px;
}*/
