.example-card {
  width: 30%;
  margin:0px auto;
  margin-top:10%;
}
.example-full-width {
  width: 100%;
  margin-top:10px;
}
.mat-form-field{
  width:100%;
  /*padding-top:20px;*/
}
a{
  float: right;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
#next{
  float:right
}
