<md-card class="example-card">
  <md-card-header>
    <md-card-title><h3>Forgot Password</h3></md-card-title>

    <md-card-subtitle *ngIf="step2"><h4>Enter valid User email </h4>
    </md-card-subtitle>
    <md-card-subtitle *ngIf="!step2"><h4>Enter OTP  </h4>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <form class="formgroup">
      <div *ngIf="ErrorMsg">
        <md-error>
        {{ErrorMsg}}
        </md-error>
      </div>
      <div *ngIf="step2">
      <table class="example-full-width" cellspacing="0"><tr>
        <td>
          <label> Get a verification code by text message on Email </label>
        <md-input-container class="inputrow">
        <input mdInput name="email" [(ngModel)]="model.email" [formControl]="emailFormControl" placeholder="Email" (focus)="touchInput()">
          <md-error *ngIf="emailFormControl.hasError('required')">
          Email is required
          </md-error>
        </md-input-container>
      </td>
      </tr></table>

    <table class="example-full-width" cellspacing="0"><tr>
      <td>
      <button md-raised-button color="primary" name="login" (click)="forgotPassword()">Next</button>
    </td>
    </tr></table>
  </div>
  <div *ngIf="!step2">
    <table class="example-full-width" cellspacing="0"><tr>
      <td>
        <label> We have send an OTP containing a one-off verification code to {{model.email}}</label>
      </td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><md-form-field class="example-full-width">
      <input mdInput #OTPCode maxlength="4" placeholder="OTP" name="otp" [(ngModel)]="model.reset_code">
      <md-hint align="end">{{OTPCode.value.length}} / 4</md-hint>
      </md-form-field></td>
    </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td>
    <md-input-container class="inputrow">
    <input type="password" mdInput name="password" [(ngModel)]="model.password" placeholder="Password" [formControl]="passwordFormControl">
    <md-error *ngIf="passwordFormControl.hasError('required')">
    password is required
    </md-error>
    </md-input-container>
  </td>
  </tr></table>
    <table class="example-full-width" cellspacing="0"><tr>
      <td>
      <button md-raised-button color="primary" name="otpsubmit" (click)="otpsubmit()">Next</button>
    </td>
    <td>
      <a (click)="ResendCode()">Resend Code</a>
    </td>
    </tr></table>
  </div>
    </form>
  </md-card-content>
</md-card>
<md-card-actions>
</md-card-actions>
