.example-card {
  width: 70%;
  /*text-align: center;*/
  /*float: center;*/
  /*height:100%;*/
  margin:0px auto;
  /*height:100px;*/
}
.example-form {
  width: 500px;
}

.example-full-width {
  width: 100%;
}
#skip{
  float:right;
}
