<div class=container>
  <h1> Create a PMT Account </h1>
  <div class=form>
    <form class="formgroup" name="myform">
      <div>
      <md-input-container class="example-full-width">
      <input mdInput placeholder=" Name" name="username"  [(ngModel)]="model.username" [formControl]="nameFormControl">
      <md-error *ngIf="nameFormControl.hasError('required')">
        Name <strong>required</strong>
      </md-error>

      </md-input-container>
      <md-error *ngIf="checkerrormsg">
        username already exit. please create another username
      </md-error>

    </div>
    <div>
      <md-input-container class="example-full-width">
      <input mdInput placeholder="Email" name="email" [(ngModel)]="model.email" [formControl]="emailFormControl">
      <md-error *ngIf="emailFormControl.hasError('pattern')">
      Please enter a valid email address
      </md-error>

      <md-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </md-error>
      </md-input-container>
      <md-error *ngIf="checkerrormsg">
        email already exit. please create another email
      </md-error>
    </div>
    <div>
      <md-input-container class="example-full-width">
      <input mdInput placeholder="Password" type="password" name="password" [(ngModel)]="model.password">
      </md-input-container>
    </div>
    <section class="example-section">
     <md-checkbox class="example-margin" name="check" [(ngModel)]="model.check"></md-checkbox>
     I accept the <a href="https://trello.com/legal">Terms of Service</a> and <a href="https://trello.com/privacy"> Privacy</a> Policy
   </section>
   <button md-raised-button (click)=createNewAccount() color="primary" class="submit" >
        Create new account </button>
    </form>
    <!-- <div *ngIf="this.msg.status" class=error>

    </div> -->
  </div>
  <h4> Already have an account? <a [routerLink]="['/login',-1]">login</a></h4>
</div>
